body {
	margin: 0px;
	padding: 0px;
	border-top: 2px solid #3597c2;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}

img {
	border: 0px;
}

a, a:link, a:visited {
	text-decoration: none;
	color: #0080FF;
}

a:hover {
	text-decoration: underline;
}

th {
	text-align: left;
	font-weight: normal;
	border-bottom: 1px solid #666;
	color: #7F7F7F;
}

div#header a, div#header a:link, div#header a:visited {
	color: #efefef;
	text-decoration: none;
}

div#header a:hover {
	text-decoration: underline;
}

h1 {
	margin: 0px;
	padding: 0px;
	font-family: georgia, times, serif;
	font-weight: normal;
	font-style: italic;
	font-size: 28px;
}

div#title h2 {
	margin: 3px 0px 0px 0px;
	padding: 0px;
	font-size: 12px;
	color: #666;
	font-weight: normal;
}

div#header {
	text-align: right;
	color: #fff;
	background: #20495a;
	font-size: 11px;
	padding: 4px 10px 4px 4px;
}

div#logo {
	margin-top: -14px;
}

div#title {
	margin-left: 150px;
	margin-top: -70px;
	padding: 5px 5px 10px 5px;
	border-bottom: 1px solid #ccc;
}

div.container {
	margin: 0px auto;
	width: 760px;
}

div#content {
	margin-left: 150px;
	padding: 5px;
}

div.flash {
	margin-left: 150px;
	padding: 5px;
	background: #4995BE;	
	color: #fff;
	font-weight: bold;
	margin-bottom: 10px;
}

div.item {
	margin-top: 5px;
	margin-bottom: 10px;
}

div.item_title {
	width: 100px;
	float: left;
	text-align: right;
	margin-right: 10px;
	padding-left: 20px;
	font-family: georgia;
	font-style: italic;
	font-size: 14px;
}

div.item_content {
	width: 500px;
	float: left;
	padding: 2px 10px 10px 24px;
}

td.number {
	text-align: center;
	font-family: georgia, times, arial;
	font-size: 32px;
	color: #30627C;
}

td.build {
	text-align: center;
	font-family: georgia, times, arial;
	font-size: 12px;
	
}

div.spaced {
	padding-top: 14px;
}