<div class='container'>
	<div>
		<div id='logo'>
			<%= link_to image_tag("header-logo.gif", :size => "130x91"), houston_url %>
		</div>
		<div id='title'>
			<h1><%= title %></h1>
			<h2><%= subtitle %></h2>
		</div>
		<br clear='all' />
	</div>