<div class='container'>
	<div>
		<div id='logo'>
			<%= link_to image_tag("header-logo.gif", :size => "130x91"), houston_url %>
		</div>
		<div id='title'>
			<h1>Mission control</h1>
			<h2>Hinxton, we have no problem</h2>
		</div>
		<br clear='all' />
	</div>
</div>