<%= render :partial => 'shared/header', :locals => { :title => "Mission control", :subtitle => "Hinxton, we have no problem" } %>
	<div id='content'>
		<%= link_to 'Start new mission &rarr;', :controller => :missions, :action => :new %>
	</div>
<%= render :partial => 'shared/footer' %>
