<%= render :partial => 'shared/header', :locals => { :title => "Start new mission", :subtitle => "Hinxton, we have no problem" } %>
	<div id='content'>
		LAUNCH
	</div>
<%= render :partial => 'shared/footer' %>
