<%= render :partial => 'shared/header', :locals => { :title => "Start new mission", :subtitle => "Hinxton, we have no problem" } %>
<% form_for(:mission, @mission, new_mission_url) do |f| %>
	<div class='item'>
		<div class='item_title'>
			Mission details
		</div>
		<div class='item_content'>
			Name:<br /> <%= f.text_field :name %>
		</div>	
		<br clear='all' />	
	</div>

	<div class='item'>
		<div class='item_title'>
			Instances
		</div>
		<div class='item_content'>
			<% if @mission.instances.empty? %>
				No instances have been scoped. <%= link_to "Prepare the first one &rarr;", :controller => :instances, :action => :new %>
			<% end %>
		</div>	
		<br clear='all' />	
	</div>
<% end %>
<%= render :partial => 'shared/footer' %>
