<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "houston" %>
  <%= javascript_include_tag :defaults %>
  <meta http-equiv="refresh" content="<%= @refresh %>">
  
	<title>Mission Control</title>	
</head>

<body>
	<div id='header'>
		<div class='container'>
			Sign out
		</div>
	</div>
	<%= yield %>	
</body>
</html>
